<!--app.html-->
<!DOCTYPE html>
<html>
<head>
    <title>My Website Application</title>
</head>
<body>
    <h1><font face="verdana"><bold>My Website Application!</bold><bold></h1></font>
    <h1><bold>Winter is Coming</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/winteriscoming.jpg" width = 450, height = 300/>
    <h1><bold>The Red Woman</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/redwoman.jpg" width = 450, height = 300/>
    <h1><bold>The North Remembers</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/thenorthremembers.jpg" width = 450, height = 300/>
    <h1><bold>The Wars to Come</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/thewarstocome.jpg" width = 450, height = 300/>
    <h1><bold>Two Swords</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/twoswords.jpg" width = 450, height = 300/>
    <h1><bold>Valar</bold><bold></h1>
    <img src="C:\Users\3rd Year Account\Desktop\Rasonabe-022317\public\img/valar.jpg" width = 450, height = 300/>

    <br>
    <a href="/">Home</a> |
    <a href="/about">About</a> 
</body>
</html>